[submodule "lib/core_plugin"]
	path = lib/core_plugin
	url = ../sv_core_plugin
[submodule "lib/modules/sv_cleanup"]
	path = lib/modules/sv_cleanup
	url = ../module_sv_cleanup
[submodule "lib/modules/sv_human_time"]
	path = lib/modules/sv_human_time
	url = ../module_sv_human_time
[submodule "lib/modules/sv_footer_credits"]
	path = lib/modules/sv_footer_credits
	url = ../module_sv_footer_credits
[submodule "lib/modules/sv_settings"]
	path = lib/modules/sv_settings
	url = ../module_sv_settings
[submodule "lib/modules/sv_wp_rocket"]
	path = lib/modules/sv_wp_rocket
	url = ../module_sv_wp_rocket
[submodule "lib/modules/sv_svg_support"]
	path = lib/modules/sv_svg_support
	url = ../module_sv_svg_support
[submodule "lib/modules/sv_lightbox"]
	path = lib/modules/sv_lightbox
	url = ../module_sv_lightbox
[submodule "lib/modules/sv_smooth_scrolling"]
	path = lib/modules/sv_smooth_scrolling
	url = ../module_sv_smooth_scrolling
[submodule "lib/modules/sv_scroll_to_top"]
	path = lib/modules/sv_scroll_to_top
	url = ../module_sv_scroll_to_top
[submodule "lib/modules/sv_maintenance"]
	path = lib/modules/sv_maintenance
	url = ../module_sv_maintenance
