[submodule "lib/core_plugin"]
	path = lib/core_plugin
	url = ../sv_core_plugin
[submodule "lib/modules/sv_cleanup"]
	path = lib/modules/sv_cleanup
	url = ../module_sv_cleanup
[submodule "freemius"]
	path = freemius
	url = ../../Freemius/wordpress-sdk
[submodule "lib/modules/sv_human_time"]
	path = lib/modules/sv_human_time
	url = ../module_sv_human_time
[submodule "lib/modules/sv_footer_credits"]
	path = lib/modules/sv_footer_credits
	url = ../module_sv_footer_credits
